@model Dictionary<string,string[]>
    <style type="text/css">
        div.gold-color,div.gold-color a {
            background-color: gold !important;
            vertical-align: central;
            height: 100%;
            font-weight: bolder !important;
            color: saddlebrown;
            text-decoration:none;
        }
            div.gold-color li > a:hover, div.gold-color li:hover{
                color: black !important;
            }
        div.sub-color, div.sub-color a {
            background-color: skyblue !important;
            color: white;
            text-decoration: none;
        }
            div.sub-color li > a:hover, div.sub-color li:hover {
                color: orangered !important; font-weight:bolder !important;
            }
    </style>
<div class="jumbotron">
    <h1>HireSpace Test Application</h1>
    <p class="lead">Site Crawler Application by &copy; martinlayooinc.co.uk</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Enter Site Root Url, and click the button to begin Crawling site</h2>
        <h4 style="color: green">@ViewBag.TimeElapsed</h4>
        <hr style="width:60%;text-align:center;"/>
        @using (Html.BeginForm("Index","Home")){ 
            <div class="row">
                <div class="col-md-11">
                    <label for="domainUrl">Enter Site Details</label><br/>
                    <input type="text" id="siteDomain" name="domainUrl" placeholder="SiteUrl with protocol e.g http://www.martinlayooinc.co.uk" style="min-width:100%;"/>
                    @Html.ValidationMessage("domainUrl", new { @style="color:red;"})
                </div>
                <div class="col-md-1">
                    <br/>
                    <input type="submit" value="Submit" class="btn-primary" id="submit" />
                </div>
            </div>
        }
        <section>
                
                @if (Model != null && Model.Any())
                {   
                    <h2>Page and Links Sitemap</h2>
                    foreach (var key in Model.Keys)
                    {
                        <div class="row">
                            <div class="col-lg-5 gold-color">
                                @Html.Raw(!string.IsNullOrEmpty(key) ? "<li><a href='" + key + "'>" + key + "</a></li>" : "<li>&nbsp;</li>")
                                <hr style="width:65%; text-align:center;" />
                            </div>

                            <div class="col-lg-7 sub-color">
                                <ul>
                                    @foreach (var value in Model[key])
                                    {
                                        @Html.Raw(!string.IsNullOrEmpty(value) ? "<li><a href='" + value + "'>" + value + "</a></li>" : "<li>&nbsp;</li>")
                                    }
                                </ul>
                                <hr style="width:65%; text-align:center;" />
                            </div>
                        </div>
                    }
                }
        </section>
    </div>
</div>
